<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/web1-0.css" />
    </head>
    <body>
        <div class="center">
            {% include header.html %}
            <main style="margin: 5px; text-align: left;" id="main-content">{{ content }}</main>
            <hr />
            {% include footer.html %}
        </div>
    </body>
</html>
